*{
    font-family: 'Roboto', sans-serif;
}

.bord_gray{
    border: 1px solid lightgray;
    border-radius: 5px;
}

.bg_opacy{
    background-color: rgba(0, 0, 0, 0.3)
}

.bg_gray{background-color: #f7f7f7;}

.navbar{
    height: 80px;
}

.navbar_search{
    min-width: 80%;
}

#col_yellow{
    color: gold;
}

.logo_small{
    max-width: 50px;
}

.navbar_icon a{
    text-decoration: none;
    color: black;
}

/* sidebar */

.side_bar{
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    background-size: contain;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.side_bar a:hover{
    opacity: 0.5;
}

/* right_navbar */

.heght_vh{
    height: calc(100vh - 80px);
}

.right_bar{
    width: calc(100% - 150px);
    overflow-y: auto;
}

.header_top{
    background-color: #1b72e8;
}

.header_right button{
    border: 1px solid white;
}

/* table */

table img{
    width: 30px;
}

table button{
   padding: 2px;
   background-color: white;
   border: 1px solid gray;
   color: gray;
   border-radius: 5px;
    
}

table button:hover{
    background-color: gray;
    color: white;
}